*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

body{
    font-family: 'Poppins', sans-serif;
    font-size: 1.9rem;
}

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background-color: #5d4954;
}

.nav-links{
    display: flex;
    width: 35%;
    justify-content: space-around;
}

.nav-links li{
    list-style: none;
}

.nav-links a{
    color: #ccc;
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 1.5rem;
}

.logo{
    color: #ccc;
    text-transform: uppercase;
    letter-spacing: 5px;
}